.container {
	border: solid 1px black;
	border-radius: 8px;
	padding: 0 10px 20px 10px;
	width: 100%;
}

.header {
	position: relative;
	top: -14px;
}

.label {
	background-color: white;
}

.content {
	display: flex;
	align-items: center;
}