.container {
	background-color: rgb(234, 234, 234);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 8px;
	border-radius: 5px;
	cursor: pointer;
	width: 135px;
}

.icon {
	margin-right: 5px;
	width: 24px;
	height: 24px;
}

.tname {
	display: flex;
	align-items: center;
}

.arrow {
	margin-left: 8px;
	font-weight: bold;
	font-size: 10px;
}

.menu {
	position: absolute;
	overflow-y: scroll;
	height: 300px;
	width: 135px;
	background-color: white;
	z-index: 999;
	border: solid 1px gray;
	padding: 10px;
}

.menuItem {
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.backdrop {
	position: absolute;
	z-index: 888;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}